*{margin: 0;padding: 0;}
li{list-style: none;}
img{vertical-align: top;border: none;}

body{
    background-color: #f5f5f5;
}

.head{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 120px;
    background:  #424242;
    color: #ffd366;
    img{
        width: 117px;
        height: 117px;
    }
    div{
        position: relative;
        bottom: 10px;
        input{
            width: 200px;
            height: 25px;
            color: white;
            border: 2px #ffd366 solid;
            border-radius: 8px;
            background-color: #646464;
        }
    }

    .heightCl{
        margin-bottom: 20px;
    }

    .resultClli{
        width: 117px;
        height: 117px;
        font-size: 23px;
        font-weight: bold;
        color: #31baf9;
        border: solid 5px #31baf9;
        border-radius: 50%;
    }
    
    .icon{
        position: relative;
        p{
            display: none;
        }
        img{
            display: none;
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #31baf9;
        }
        .resultCl{
            //原版
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: black;
            background-color: #ffd366;
            border-radius: 50%;
        }
        .resultCl:hover{
            background-color: #f1b418;
            transition: all 0.7s;
        }
    }
    .iconBack{
        position: relative;
        p{
            display: none;
        }
        img{
            display: none;
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #31baf9;
        }
        .resultCl{
            //原版
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: black;
            background-color: #ffd366;
            border-radius: 50%;
        }
    }
    .iconNfat{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #31baf9;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #31baf9;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #31baf9;
            border: solid 5px #31baf9;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    .icongood{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #86d73f;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #86d73f;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #86d73f;
            border: solid 5px #86d73f;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    .iconfat{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #ff982d;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #ff982d;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #ff982d;
            border: solid 5px #ff982d;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    .iconfatter{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #ff6c03;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #ff6c03;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #ff6c03;
            border: solid 5px #ff6c03;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    .iconfatterr{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #ff6c09;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #ff6c09;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #ff6c09;
            border: solid 5px #ff6c09;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    .iconfatterrr{
        position: relative;
        p{
            position: absolute;
            left: 130px;
            bottom: 50px;
            color: #ff1200;
            font-size: 23px;
            font-weight: bold;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top: 80px;
            right: 3px;
            width: 16px;
            height: 16px;
            border: 3px #404040 solid;
            border-radius: 50%;
            background-color: #ff1200;
        }
        .resultCl{
            width: 117px;
            height: 117px;
            font-size: 23px;
            font-weight: bold;
            color: #ff1200;
            border: solid 5px #ff1200;
            border-radius: 50%;
            background-color: #424242;
            transition: all 1s;
        }    
    }
    ::placeholder { 

        color: #c3c3c3;
      
      }
}

.content{
    // background-color: #f5f5f5;
    h2{
        text-align: center;
        padding: 30px;
    }
    ul{
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 15px;
            padding: 10px 10px;
            width: 800px;
            border-left: 6px #86d73f solid;
            background-color: white;
            p{
                font-size: 20px;
                span{
                    position: relative;
                    bottom: 4px;
                    font-size: 14px;
                    margin: 0px 5px;
                }
            }
            .dateCl{
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                border: black 2px solid;
                border-radius: 50%;
                font-size: 14px;
                font-weight: bold;
                transition: all 0.5s;
            }
            .dateCl:hover{
                font-weight: bold;
                color: #c3c3c3;
                transform:rotate(180deg);
            }
            
        }
    }
}

.footer{
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    background-color: #ffd366;
}

.none{
    display: none;
}

#light{
    border-left:6px solid #31baf9;
}

#suitable{
    border-left:6px solid #86d73f;
}

#fat{
    border-left:6px solid #ff982d;
}

#fatter{
    border-left:6px solid #ff6c03;
}

#fatterr{
    border-left:6px solid #ff6c09;
}

#fatterrr{
    border-left:6px solid #ff1200;
}

@media(max-width:840px) {
    .content{
        li{
            width: 300px;
        }
    }
}
@media(max-width:720px) {

    .head{
        .mid{
            margin: 0px 30px;
        }
        .iconNfat{
            p{
                left: 33px;
                bottom: -30px;
            }
        }
        .icongood{
            p{
                left: 35px;
                bottom: -30px;
            }
        }
        .iconfat{
            p{
                left: 15px;
                bottom: -30px;
            }
        }
        .iconfatter{
            p{
                left: 15px;
                bottom: -30px;
            }
        }
        .iconfatterr{
            p{
                left: 15px;
                bottom: -30px;
            }
        }
        .iconfatterrr{
            p{
                left: 15px;
                bottom: -30px;
            }
        }
    }

    .content{
        ul{
            li{
                width: 80%;
            }
        }
    }
}

@media(max-width:520px) {

    .head{
        img{
            width: 100px;
            height: 100px;
        }
        .mid{
            margin: 0px 30px;
            input{
                width: 120px;
            }
        }
       
        
    }
    .content{
        ul{
            li{
                width: 80%;
                h3{
                    font-size: 16px;
                }
            }
        }
    }
}

@media(max-width:420px) {

    .head{
        // img{
        //     width: 70px;
        //     height: 70px;
        // }
        .mid{
            top: -20px;
            margin: 0px 10px;
            input{
                width: 100px;
            }
        }
        
    }
    .content{
        ul{
            li{
                h3{
                    font-size: 16px;
                }
                p{
                    font-size: 16px;
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
// #424242黑 #ffd366黃 #86d73f綠 #31baf9藍 #ff982d橘 #ff6c03橘2 #ff6c03橘3 #ff1200紅 #f5f5f5灰白